# aiter version
aiter/_version.py

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
build
blob

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# python cache
__pycache__
*.pyc
.eggs
*.egg-info

# editor
.vscode

# debug folder
debug
aiter_logs
*.log
.nfs0000000002f837cd00000c2b
70af0ab9029c/13038_results.db
70af0ab9029c/13144_results.db
70af0ab9029c/13249_results.db
70af0ab9029c/13356_results.db
